@import url("https://fonts.googleapis.com/css?family=Francois+One|Lusitana");
.page {
  margin: 0;
  padding: 0;
  font-family: "Lusitana", serif;
  font-size: 1rem;
}

.container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  margin: 2rem 0 0 0;
  padding: 0;
}

.header__title {
  font-family: "Francois One", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 0;
  margin: 0;
  text-align: right;
  background-color: #ffd600;
}

.article {
  margin-bottom: 1rem;
}

.article__author {
  margin: 2rem 0 1rem 1rem;
}

.article__image-container {
  height: 12rem;
  overflow: hidden;
}

.article__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__text {
  margin: 0 1rem;
}

.article__paragraph {
  line-height: 1.5;
  text-align: justify;
}

.quote {
  margin-bottom: 1rem;
}

.quote__image-container {
  position: relative;
  height: 10rem;
  overflow: hidden;
}

.quote__image {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}

.quote__text {
  background-color: #000;
  padding: 1rem;
}

.quote__paragraph {
  margin: 0;
  text-align: right;
  font-family: "Francois One", sans-serif;
  color: #fff;
}

.author {
  margin-bottom: 4rem;
}

.author__title {
  font-family: "Francois One", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 2rem 0 1rem 1rem;
}

.author__image-container {
  height: auto;
  width: 100vw;
}

.author__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}

.author__about {
  padding: 0 1rem;
}

.author__name {
  font-family: "Francois One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem 0 1rem 0;
}

.author__description {
  margin: 1rem 0;
  padding-bottom: 1rem;
  text-align: justify;
  line-height: 1.5;
  border-bottom: 2px solid #000;
}

.appreciations {
  text-align: center;
  margin: 0 1rem;
}

.appreciations__counter {
  font-size: 4.5rem;
  font-family: "Francois One", sans-serif;
  margin: 0;
  padding: 0;
}

.appreciations__paragraph {
  font-family: "Francois One", sans-serif;
  text-transform: uppercase;
  margin: -1rem 0 2rem 0;
}

.interact {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interact__btn {
  border: none;
  background-color: #ffd600;
  font-family: "Francois One", sans-serif;
  text-transform: uppercase;
  padding: 1rem 0;
  width: 32%;
}

.interact__btn:hover {
  cursor: pointer;
}

.social-media {
  position: fixed;
  top: 10rem;
  right: 0rem;
  background: #000;
  width: 5rem;
}

.hidden {
  display: none;
}

.social-media__btn {
  display: block;
  width: 3rem;
  margin: 1rem;
  height: auto;
}

.social-media__btn:hover {
  cursor: pointer;
}

.appreciate {
  position: fixed;
  -webkit-animation: showLove 0.2s ease-out;
          animation: showLove 0.2s ease-out;
  z-index: 2;
}

@-webkit-keyframes showLove {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(7);
            transform: scale(7);
    opacity: 0.5;
  }
}

@keyframes showLove {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(7);
            transform: scale(7);
    opacity: 0.5;
  }
}

@media (min-width: 426px) {
  .author-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .author__image-container {
    margin: 0 1rem 1rem 1rem;
    height: 10rem;
    width: 10rem;
  }
  .author__image {
    height: 100%;
    width: 100%;
  }
  .author__name {
    margin: 0;
  }
  .author__description {
    border-bottom: none;
    padding: 0;
  }
  .appreciations {
    padding: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    border-top: 2px solid #000;
  }
}

@media (min-width: 601px) {
  .article {
    margin-bottom: 4rem;
  }
  .container {
    max-width: 1100px;
  }
  .header {
    position: absolute;
    left: 9rem;
    width: 50vw;
  }
  .header__title {
    text-align: right;
  }
  .article-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .article__image-container {
    height: auto;
    margin: 4rem 0 0 0;
    width: 50vw;
  }
  .article__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .article__text-container {
    width: 50vw;
    margin-top: 8rem;
  }
  .quote__image-container {
    margin: 0 0 0 auto;
    max-width: 60rem;
    height: 20rem;
  }
}

@media (min-width: 769px) {
  .author-container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .appreciations {
    -ms-grid-column: 3;
        grid-column-start: 3;
    border-top: none;
    border-left: 2px solid #000;
  }
  .interact {
    margin: 2rem auto 0 0;
    max-width: 50rem;
  }
}

@media (min-width: 960px) {
  .quote__text {
    position: relative;
    top: -2rem;
    left: 6rem;
    margin-right: 10rem;
    max-width: 45rem;
  }
}
/*# sourceMappingURL=style.css.map */