@import url('https://fonts.googleapis.com/css?family=Francois+One|Lusitana');

$font-header: 'Francois One', sans-serif;
$font-text: 'Lusitana', serif;
$font-text-size: 1rem;
$font-normal: 400;
$font-bold: 700;

$primary-color: #ffd600;
$secondary-color: #000;
$tertiary-color: #fff;

$border: 2px solid $secondary-color;

.page {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-size: $font-text-size;
}

.container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 2rem 0 0 0;
  padding: 0;

  &__title {
    font-family: $font-header;
    font-size: 1.75rem;
    font-weight: $font-normal;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 0;
    margin: 0;
    text-align: right;
    background-color: $primary-color;
  }
}

.article {
  margin-bottom: 1rem;

  &__author {
    margin: 2rem 0 1rem 1rem;
  }

  &__image-container {
    height: 12rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__text {
    margin: 0 1rem;
  }

  &__paragraph {
    line-height: 1.5;
    text-align: justify;
  }
}

.quote {
  margin-bottom: 1rem;

  &__image-container {
    position: relative;
    height: 10rem;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
  }

  &__text {
    background-color: $secondary-color;
    padding: 1rem;
  }

  &__paragraph {
    margin: 0;
    text-align: right;
    font-family: $font-header;
    color: $tertiary-color;
  }
}

.author {
  margin-bottom: 4rem;

  &__title {
    font-family: $font-header;
    font-size: 1.75rem;
    font-weight: $font-normal;
    margin: 2rem 0 1rem 1rem;
  }

  &__image-container {
    height: auto;
    width: 100vw;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    padding: 0;
  }

  &__about {
    padding: 0 1rem;
  }

  &__name {
    font-family: $font-header;
    text-transform: uppercase;
    font-weight: $font-normal;
    margin: 2rem 0 1rem 0;
  }

  &__description {
    margin: 1rem 0;
    padding-bottom: 1rem;
    text-align: justify;
    line-height: 1.5;
    border-bottom: $border;
  }
}

.appreciations {
  text-align: center;
  margin: 0 1rem;

  &__counter {
    font-size: 4.5rem;
    font-family: $font-header;
    margin: 0;
    padding: 0;
  }

  &__paragraph {
    font-family: $font-header;
    text-transform: uppercase;
    margin: -1rem 0 2rem 0;
  }
}

.interact {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;

  &__btn {
    border: none;
    background-color: $primary-color;
    font-family: $font-header;
    text-transform: uppercase;
    padding: 1rem 0;
    width: 32%;
    transition: all .15s ease-in-out;
    outline-color: $secondary-color;
  }

  &__btn:hover {
    cursor: pointer;
    transform: translateY(-.1rem);
    box-shadow: 0px .1rem .4rem rgba(0, 0, 0, .1);
  }

  &__btn:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.social-media {
  position: fixed;
  top: 10rem;
  right: 0rem;
  background: $secondary-color;
  width: 5rem;
  transition: all 0.4s;
}

.social-media__btn {
  display: block;
  width: 3rem;
  margin: 1rem;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}

.hidden {
  width: 0;
}

.appreciate {
  transform: scale(5);
  position: fixed;
  animation: showLove 0.4s ease-out;
  z-index: 2;
}

@keyframes showLove {
  0% {
    transform: scale(.1);
    opacity: 1;
  }

  100% {
    transform: scale(5);
    opacity: 0.2;
  }
}

@media (min-width: 426px) {

  .author-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .author__image-container {
    margin: 0 1rem 1rem 1rem;
    height: 10rem;
    width: 10rem;
  }

  .author__image {
    height: 100%;
    width: 100%;
  }

  .author__name {
    margin: 0;
  }

  .author__description {
    border-bottom: none;
    padding: 0;
  }

  .appreciations {
    padding: 1rem;
    align-self: center;
    grid-column-start: 1;
    grid-column-end:   3;
    border-top: $border;
  }
}

@media (min-width: 601px) {

  .article {
    margin-bottom: 4rem;
  }

  .container {
    max-width: 1100px;
  }

  .header {
    position: absolute;
    left: 9rem;
    width: 50vw;

    &__title {
      text-align: right;
    }
  }

  .article-container {
    display: flex;
  }

  .article__image-container {
    height: auto;
    margin: 4rem 0 0 0;
    width: 50vw;
  }

  .article__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .article__text-container {
    width: 50vw;
    margin-top: 8rem;
    margin-left: 1rem;
  }

  .quote__image-container {
    margin: 0 0 0 auto;
    max-width: 60rem;
    height: 20rem;
  }
}

@media (min-width: 769px) {

  .author-container {
    grid-template-columns: auto auto auto;
  }

  .appreciations {
    grid-column-start: 3;
    border-top: none;
    border-left: $border;
  }

  .interact {
    margin: 2rem auto 0 0;
    max-width: 50rem;
  }
}

@media (min-width: 960px) {
  .quote__text {
    position: relative;
    top: -2rem;
    left: 6rem;
    margin-right: 10rem;
    max-width: 45rem;
  }
}
