@import url('https://fonts.googleapis.com/css?family=Francois+One|Lusitana');

$font-header: 'Francois One', sans-serif;
$font-text: 'Lusitana', serif;
$font-text-size: 1rem;
$font-normal: 400;
$font-bold: 700;

$primary-color: #ffd600;
$secondary-color: #000;
$tertiary-color: #fff;

.page {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  font-size: $font-text-size;
}

.container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 2rem 0 0 0;
  padding: 0;

  &__title {
    font-family: $font-header;
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1rem 1rem 1rem 0;
    margin: 0;
    text-align: right;
    background-color: $primary-color;
  }
}

.article {
  margin-bottom: 1rem;

  &__author {
    margin: 2rem 0 1rem 1rem;
  }

  &__image-container {
    height: 12rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__text {
    margin: 0 1rem;
  }

  &__paragraph {
    line-height: 1.5;
    text-align: justify;
  }
}

.quote {
  margin-bottom: 1rem;

  &__image-container {
    height: 12rem;
    overflow: hidden;
  }

  &__image {
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  &__text {
    background-color: $secondary-color;
    padding: 1rem;
  }

  &__paragraph {
    margin: 0;
    text-align: right;
    font-family: $font-header;
    color: $tertiary-color;
  }
}

.author {
  margin-bottom: 4rem;

  &__title {
    font-family: $font-header;
    font-size: 1.75rem;
    font-weight: $font-normal;
    margin: 2rem 0 1rem 1rem;
  }

  &__image-container {
    height: auto;
    width: 100vw;
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__about {
    padding: 0 1rem;
  }

  &__name {
    font-family: $font-header;
    text-transform: uppercase;
    font-weight: $font-normal;
    margin: 2rem 0 1rem 0;
  }

  &__description {
    margin: 1rem 0;
    padding-bottom: 1rem;
    text-align: justify;
    line-height: 1.5;
    border-bottom: 2px solid $secondary-color;
  }
}

.appreciations {
  text-align: center;

  &__counter {
    font-size: 4.5rem;
    font-family: $font-header;
    margin: 0;
  }

  &__paragraph {
    font-family: $font-header;
    text-transform: uppercase;
    margin: -1rem 0 2rem 0;
  }
}

.interact {
  display: flex;
  justify-content: space-between;

  &__btn {
    border: none;
    background-color: $primary-color;
    font-family: $font-header;
    text-transform: uppercase;
    padding: 1rem 0;
    width: 32%;
  }
}